# Package Example

> The following is an example of on how to use and distribute the source code of your project as a [Python package](https://packaging.python.org) using the <span style="color:#3EACAD">template</span>.

## Usage

Unlike the [previous example](https://worldbank.github.io/template/notebooks/world-bank-api.html), where the source code was contained on the Jupyter notebok itself, we (re)use a Python package - the [datalab](https://github.com/worldbank/template/tree/main/src/datalab) Python package - which will let us (re)use any attributes and methods in the following example.

Let's start by importing `WorldBankIndicatorsAPI`, a Pyhton API wrapper class created to faciliate the usage of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation).

In [ ]:
from insider_eda.eda_base import exploratory_data_analysis

In [23]:
import pandas as pd
from datetime import timedelta

In [8]:
ticker = 'CAT'

Let's continue by creating the API object.

In [13]:
import os
print(os. getcwd())

/workspaces/InsiderTrader/notebooks

In [19]:
df = pd.read_csv(f"../data/insider_data/{ticker}.csv")

f = df.drop("SEC Form 4", 1)  # This column has no use in analysis

df["Date"] = pd.to_datetime(
    df["Date"], errors="coerce"
)  # Making sure date format is maintained

# removing comma from  numeric value
df["Shares Total"] = [x.replace(",", "") for x in df["Shares Total"]]
df["Shares"] = [x.replace(",", "") for x in df["Shares"]]
df["Value ($)"] = [x.replace(",", "") for x in df["Value ($)"]]

# Making sure that columns are numeric
df["Cost"] = pd.to_numeric(df["Cost"])
df["Shares"] = pd.to_numeric(df["Shares"])
df["Value ($)"] = pd.to_numeric(df["Value ($)"])
df["Shares Total"] = pd.to_numeric(df["Shares Total"])

/tmp/ipykernel_12091/2721691119.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  f = df.drop("SEC Form 4", 1)  # This column has no use in analysis

In [24]:
stock_df = pd.read_csv(f"../data/sp500-stock-prices/{ticker}.csv")

stock_df["Date"] = pd.to_datetime(
    df["Date"], errors="coerce"
)  # Making sure date format is maintained

start_date = df.Date.iloc[-1] - timedelta(days=7)
stock_df = stock_df[stock_df.Date > start_date]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-05-18,0.495367,0.500192,0.490542,0.495367,163200,0.000000,0.0
1,2022-05-05,0.495367,0.500192,0.490542,0.500192,156000,0.000000,0.0
2,2022-04-21,0.511450,0.527533,0.511450,0.513058,355200,0.000000,0.0
3,2022-04-21,0.513058,0.524317,0.511450,0.517883,163200,0.000000,0.0
4,2022-04-20,0.517883,0.525925,0.514666,0.521100,204000,0.000000,0.0
5,2022-04-20,0.521100,0.530750,0.516275,0.525925,290400,0.000000,0.0
6,2022-04-20,0.525925,0.529142,0.517883,0.519492,182400,0.000000,0.0
7,2022-03-17,0.519492,0.527533,0.514667,0.527533,384000,0.000000,0.0
8,2022-03-17,0.527533,0.537183,0.521100,0.530750,352800,0.000000,0.0
9,2022-03-09,0.530750,0.533967,0.521100,0.529142,280800,0.000000,0.0
10,2022-02-16,0.527523,0.527523,0.521051,0.524287,163200,0.010417,0.0
11,2022-02-07,0.524287,0.530759,0.521050,0.522669,160800,0.000000,0.0
12,2022-01-18,0.522669,0.533996,0.522669,0.533996,261600,0.000000,0.0
13,2022-01-07,0.533996,0.543705,0.524287,0.543705,357600,0.000000,0.0
14,2022-01-07,0.543705,0.550178,0.542087,0.542087,261600,0.000000,0.0
15,2022-01-07,0.542087,0.546942,0.530760,0.530760,223200,0.000000,0.0
16,2022-01-07,0.530760,0.530760,0.517814,0.527523,120000,0.000000,0.0
17,2021-11-01,0.527524,0.535614,0.525905,0.530760,151200,0.000000,0.0
18,2021-08-04,0.530760,0.535614,0.524287,0.530760,108000,0.000000,0.0

The `api` wrapper object is now ready to use! We will invoke its `query` method to retrieve data from the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). To learn how to use it, such as information about  method signature, valid parameters and return value, we read `help`. Since [PEP 257](https://peps.python.org/pep-0257), Python offers *doctrings*, which are an easy and standard to create code documentation and it is a good practice adopt it. Documentating the source code is crucial to create a maintainable reliable and reproducicle code base and project.

Let's see the `query` method's *docstring* as shown below.

In [ ]:
help(api.query)

The `query` method allows us to select an **indicator** (e.g, [World Development Indicators](https://datatopics.worldbank.org/world-development-indicators)), a list of countries and [query parameters](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581#query-strings). Note that contrary to the [previous example](https://worldbank.github.io/template/notebooks/world-bank-api.html), the method expets a list of country names and converts them to [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html) automatically.

Let's invoke the `query` method and retrieve the results for `SP.POP.TOTL` for the [BRICS](https://infobrics.org) (as before).

In [ ]:
df = api.query(
    "SP.POP.TOTL", country=["Brazil", "China", "India", "Russia", "South Africa"]
)

**Voilà!** We just (re)used the [datalab](https://github.com/worldbank/template/tree/main/src/datalab) Python package in our example delegating the maintenance and logic, making the notebook easier to understand and reproduce. 

```{tip}
In addition, the `<span style="color:#3EACAD">template</span>` makes any Python package automatically [pip installable](https://packaging.python.org/en/latest/tutorials/installing-packages/) and acessible to *anyone* and from *anywhere*!

To install from source:

	pip install git+https://github.com/worldbank/template.git

To install from version:

	pip install git+https://github.com/worldbank/template.git@v0.1.0
	

When distributing a project release, it is strongly recommended to adhere to release management good practices. It is recommended to create checklists, adopt versioning (e.g, [semantic versioning](https://semver.org/) and to release on [Python Package Index](https://pypi.org/) (instead of GitHub).
```

```{tip}
The <span style="color:#3EACAD">template</span> will automatically find and install any local `src` packages as long as the `setup.cfg` file is up-to-date.
```

```{caution}
The `datalab` Python package shoudl be used for demonstration purposes only. For support, please see the [World Bank Indicators API Documentation](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation).
```

Finally, let's take a look at the retrieved data.

In [ ]:
df = df.pivot_table(values="value", index="date", columns="country.value")

In [ ]:
df

## Visualization

As before, let's now plot the data as a time series using [Bokeh](https://docs.bokeh.org).

In [ ]:
import itertools

import bokeh
from bokeh.palettes import Spectral6
from bokeh.plotting import figure, output_notebook, show

output_notebook()

# instantiating the figure object
p = figure(title="Population, total (World Bank)", width=700, height=600)

# colors
colors = itertools.cycle(Spectral6)

# plotting the line graph
for column, color in zip(df.columns, colors):
    p.line(
        df.index,
        df[column],
        legend_label=column,
        color=color,
        line_width=2,
    )

p.legend.location = "right"
p.legend.click_policy = "mute"
p.title.text_font_size = "12pt"

p.xaxis.axis_label = "Year"
p.yaxis.axis_label = "Population, total (in millions)"

show(p)